@font-face {
  src: url(fonts/Raleway-VariableFont_wght.ttf);
  font-family: 'Raleway';

  src: url(fonts/Salsa/Salsa-Regular.ttf);
  font-family: 'Salsa';

  /*src: url(fonts/Rozha_One/RozhaOne-Regular.ttf);
  font-family: 'Rozha';*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Salsa";
}

html{
  scrollbar-width: normal;
  scrollbar-color: red, green;
}

html::-webkit-scrollbar{
  width: 13px;
}

html::-webkit-scrollbar-thumb{
  background-color: #3D5A80;
  border-radius: 10vw;
}

html::-webkit-scrollbar-thumb:hover{
  background-color: #2E496D;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.nav{
    background: #3D5A80;
    position: absolute;
    width: 1440px;
    height: 67px;
    left: 0px;
    top: 0px;
}

.nav #logout{
    position: absolute;
    width: 120px;
    height: 35px;
    left: 1104px;
    top: 14px;
    background-color: #E0FBFC;
    border-radius: 66px;
    border-color: #E0FBFC;
    font-family: "Raleway";
    font-weight: 900;
    font-size: 21px;
    color: #3D5A80;
}

.nav .logo-content .logo .logo-name{
    position: absolute;
    left: 147px;
    top: 7px;
    font-family: Salsa;
    font-size: 30px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    color: #E0FBFC;
}

.nav .logo-content .logo img{
    height: 50px;
    width: 50px;
    left: 86px;
    top: 8px;
    border-radius: 93px;
    position: absolute;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 5vw;
  /*width: 15vw;*/
  background: #3D5A80;
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar.active{ /*size ni sidebar kapag active*/
  height: 100%;
  width: 20vw;
}

/*.sidebar.open {
    width: 293vw;
}*/

.sidebar #btn{
  position: absolute;
  color: #E0FBFC;
  left: 50%; /*position ng menu kapag di active si sidebar*/
  top: -13px;
  height: 26vh;
  width: 2vw;
  text-align: center;
  line-height: 90px;
  transform: translateX(-50%);
  pointer-events: auto;
}

.sidebar.active #btn{
  left: 90%; /*position ng menu kapag active si sidebar*/
}

.sidebar ul{
  margin-top: 50px; /*margin top ng images sa sidabar*/
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
   /*margin: 20px 5px;para sa img*/
  list-style: none;
}

.sidebar ul li i{
  font-size: 21px;
  color: #e0fbfc;
}

.sidebar ul li .tooltip{
  position: absolute;
    text-align: center;
    left: 79px;
    /*top: 18px;*/
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #E0FBFC;
    line-height: 35px;
    box-shadow: 0 5px 10pc rgb(0 0 0 / 20%);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
  display: none;
}

.sidebar ul li:hover .tooltip{ /*hover ng lumalabas sa gilid kapag di active yung sidebar*/
  transition: all 0.3s ease;
  opacity: 1;
  top: 50%;;
  line-height: 16px;
}

.sidebar ul li a:hover{ /*hover ng img kapag di active yung sidebar*/
  /*color: #3D5A80;*/
  /*background: white;*/
  height: 50px;
  width: 45px;
}

.sidebar .links_name{
  opacity: 0;
  pointer-events: none;
  left: 9px;
  position: relative;
}

.sidebar.active .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  margin: 20px -28px; /*40px -33px*/
  transition: all 0.4s ease;
  white-space: nowrap;
}

.sidebar ul li img{
  height: 3.5vh;/*3.5vh*/
  min-width: 2vw; /*3vw*/
  text-align: center;
  transform: translateY(2px);
}

.box{
  position: absolute;
  width: 70%;
  /*height: 0;
  background: yellow;*/
  top: 1401px;
  left: 20%;
  padding-bottom: 120px;
}

/*dashboard content*/
header{
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 40px;
  color: #293241;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main{
  /*margin-top: 30px*/
  padding: 2rem 5rem;
  min-height: calc(100vh - 90px);
}

.cards{
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4rem; /*pagitan ng grids*/
}

.card-single{
  display: flex;
  justify-content: space-between;
  /*background: #E0FBFC;
  border: 3px solid #3D5A80;*/
  background-color: #fff;
  padding: 2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/*.card-single:hover{
  background: #E0FBFC;
}*/

.buttons{
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem; /*pagitan ng buttons*/
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 44.5px;
  margin-left: 378px;
  position: absolute;
}

.buttons a button{
  background-color: #3D5A80;
  border-radius: 5px;
  border-color: transparent;
  color: #fff;
  font-size: .8rem;
  padding: .3rem 1rem;
  text-decoration: none;
}

.buttons a button:hover{
  background-color: #1a237e;
  border-color: transparent;
}

#keme{
  position: relative;
  top: -15px;
  left: 12px;
}

.cards .card-single #link{
  text-decoration: none;
  color: gray;
}

.cards .card-single #link:hover{
  color: #42a5f5;
}

.card-single div:last-child span{
  font-size: 3rem;
  color: #3D5A80;
}

.card-single div:first-child span{
  color: gray;
}

/*charts*/
.graphBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  min-height: 200px;
}

.graphBox .boxy{
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 120px;
}

.graphBox h3{
  position: absolute;
  margin-top: 81px;
}

#chartbtn, #chartbtn2{
  text-decoration: none;
  color: gray;
  text-align: left;
}

#chartbtn, #chartbtn2:hover{
  color: #1a237e;;
}

.recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 75% 25%;
}

.cardsy{
  background: #fff; /*gawing off white*/
  border-radius: 10px;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /*border-bottom: 1px solid red;*/
}

.card-header a button{
  background-color: #3D5A80;
  border-radius: 5px;
  border-color: transparent;
  color: #fff;
  font-size: .8rem;
  padding: .3rem 1rem;
  text-decoration: none;
}

.card-header a button:hover{
  background-color: #1a237e;
}

.card-body{
  max-height: 450px;
  overflow-x: auto;
}

.card-body::-webkit-scrollbar{
  width: 8px;
}

.card-body::-webkit-scrollbar-thumb{
  background-color: #3D5A80;
  border-radius: 10vw;
}

.card-body::-webkit-scrollbar-thumb:hover{
  background-color: #2E496D;
}

#opt, #bt{
  position: relative;
  top: -40px;
  left: 120px;
  cursor: pointer;
}

table{
  max-width: 97%;
}

thead tr{
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

thead td{
  font-weight: 700;
}

td{
  padding: .5rem 1rem;
  font-size: .9rem;
}

tr:nth-child(odd){
  background-color: #E0FBFC;
}

.table-responsive{
  width: 100%;
  overflow-x: auto;
}

/*data table*/
.dataTables_wrapper .dataTables_info { /*show entries*/
    clear: both;
    float: left;
    padding-top: 0.755em;
    margin-left: 17px;
}

#example_length label{ /*show entries number*/
  position: relative;
  margin-left: 13px;
}

#example_filter label{ /*search*/
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
}


.CommsDiv, .totalSalesDiv, .feedbacksDiv, .complaintsDiv, .reloadDiv{
  display: none;
  padding-top: 10px;
}

.CommsDiv table .bx{
  font-size: 28px;
  justify-content: center;
  padding: 0 25px;
}

.CommsDiv table td .bxs-check-circle{
  color: green;
}

.CommsDiv table td .bxs-x-circle{
  color: maroon;
}

.reloadDiv::-webkit-scrollbar{
  width: 8px;
}

.reloadDiv::-webkit-scrollbar-thumb{
  background-color: #3D5A80;
  border-radius: 10vw;
}

.reloadDiv::-webkit-scrollbar-thumb:hover{
  background-color: #2E496D;
}

.customer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
}

.info{
  display: flex;
  align-items: center;
}

.info h4{
  font-size: .8rem;
  font-weight: 700;
  color: #333;
}

.info small{
  font-size: .7rem;
  font-weight: 400;
  color: gray;
}

.info img{
  border-radius: 50%;
  margin-right: 1rem;
}

.contact .fa{
  display: inline-block;
  font-size: .8rem;
  margin-left: .5rem;
  color: #3D5A80;
}

/*try making table using css only*/
/*.CommsDiv table{
  width: 100%;
  display: table;
}

#resp-table-caption{
display: table-caption;
text-align: center;
font-size: 30px;
font-weight: bold;
}

#resp-table-header{
display: table-header-group;
font-weight: bold;
font-size: 25px;
}

.table-header-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}

#resp-table-body{
display: table-row-group;
}

.resp-table-row{
display: table-row;
}

.table-body-cell{
display: table-cell;
padding-left: 10px;
padding-top: 5px;
}*/

/* The footer is fixed to the bottom of the page */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #3D5A80;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 50px 20px 100px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: bold 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0fbfc;
}

/* Footer links */
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

.footer-center .footer-company-name {
    color: #8f9296 !important;
    font-size: 14px;
    font-weight: normal;
    margin: 50px 0 0 20px !important;
}

/* Footer Center */
.footer-distributed .footer-center {
    width: 35%;
    font-weight: normal;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0fbfc;
    text-decoration: none;
}

/* Footer Right */
.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 25px;
    color: #e0fbfc;
    font-size: 13px;
    font-weight: normal;
    text-align: justify;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #e0fbfc;
}

/*footer apk link*/
#coltext{
  color: white;
  font-weight: bold;
  padding-top: 35px;
}

.content p a{
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.content p a:hover{
  color: #e0fbfc;
}

/*footer responsiveness*/
@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/*sidebar responsiveness*/
@media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
}

/*widgets responsiveness*/
@media only screen and (max-width: 960px){
  .cardsy{
    grid-template-columns: repeat(2, 1fr);
  }

  .cards{
    grid-template-columns: repeat(2, 1fr);
  }

  .recent-grid{
    grid-template-columns: 100%;
  }

  .main-content{
    width: 100%;
    margin-left: 0rem;
  }

  header{
    width: 100% !important;
    left: 0 !important;
  }

}

@media only screen and (max-width: 768px){
  .cardsy{
    grid-template-columns: 100%;
  }

  .cards{
    grid-template-columns: 100%;
  }

  .recent-grid{
    grid-template-columns: 100%;
  }

}

@media only screen and (max-width: 560px){
  .cards{
    grid-template-columns: 100%;
  }

}
