@import url('https://fonts.googleapis.com/css2?family=Arya&family=Inter:wght@100&family=Quicksand:wght@300&family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Salsa";
}

html{
  scrollbar-width: normal;
  scrollbar-color: red, green;
}

html::-webkit-scrollbar{
  width: 13px;
}

html::-webkit-scrollbar-thumb{
  background-color: #3D5A80;
  border-radius: 10vw;
}

html::-webkit-scrollbar-thumb:hover{
  background-color: #2E496D;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.nav {
    background: #3D5A80;
    position: absolute;
    width: 1440px;
    height: 67px;
    left: 0px;
    top: 0px;
}

.nav .logo-content .logo .logo-name{
  position: absolute;
  left: 66px;
  top: 7px;
  font-family: 'Salsa';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  color: #E0FBFC;
}

.nav .logo-content .logo img{
  height: 50px;
  width: 50px;
  /*left: 6px;
  top: 8px;*/
  left: -241px;
  top: -363px;
  border-radius: 93px;
  position: absolute;
}

.box{
  box-sizing: border-box;
  position: absolute;
  width: 464px;
  height: 462px;
  top: 90px;
  left: 413px;
  background: #B6DCFE;
  border: 3px solid #3D5A80;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.box .content img{
  position: absolute;
  width: 96px;
  height: 93px;
  left: 182px;
}

p{
  position: absolute;
  width: 260px;
  height: 21px;
  left: 137px;
  top: 94px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #293241;
}

.box .content input[type=text],input[type=password]{
  position: absolute;
  width: 388.56px;
  height: 55.44px;
  left: 46px;
  border-radius: 20px;
  border: 1px solid #293241;
  font-family: 'Salsa';
  font-style: normal;
  font-size: 16px;
  color: #293241;
  padding: 6px;
}

#Uname{
  left: 45px;
top: 164px;
}

#pass{
  left: 45px;
top: 230px;
}

#loginbtn{
  position: absolute;
  width: 138px;
  height: 40px;
  left: 172px;
  top: 296px;
  border-radius: 66px;
  border-color: transparent;
  background-color: #3D5A80;
  box-shadow: 3px 3px 2px 0.2px grey;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 23px;
  line-height: 39px;
  color: #E0FBFC;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

#rememberMe{
  box-sizing: border-box;
position: absolute;
width: 15px;
height: 17px;
left: 45px;
top: 371px;
border: 1px solid #293241;
}

#rememberMeLabel{
  position: absolute;
  left: 62px;
  top: 368px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3D5A80;
}

hr{
  position: absolute;
  width: 26.81px;
  height: 0px;
  left: 203px;
  top: 378px;
  border: 4px solid #293241;
  transform: matrix(0, 1, -1, 0, 0, 0);
}

a{
  position: absolute;
  width: 244px;
  height: 22px;
  left: 246px;
  top: 371px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18.5px;
  line-height: 22px;
  color: #293241;
  text-decoration-line: none;
}

a:hover{
  color: #42a5f5;
  text-decoration-line: underline;
}
